@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .button{ 
  position: relative;
  width: 35%;
}

header{ 
  background-color: #55dffe; 
  color: #fff;
}

header .wrapper{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 50%;
  margin-top: 50px;
  padding-bottom: 296px;
  padding-top: 200px;
}

h1{
  text-transform: uppercase;
  font-size: 35px;
}

header span{
  font-size: 25px;
  text-transform: capitalize;
  margin: 25px 0px;
  color: #fff;
}

header span a{
  border-bottom: 1px solid #75e8ff;
  color: #fff;
}

.button{
  padding: 13px;
  border-radius: 30px;
  background-color: #4187ed;
  color: #fff;
  text-transform: capitalize;
}

header .button::before{
  content: '\f179   ';
  font-family: FontAwesome;
}

.button:hover,.subscribe input:hover{ 
  background-color: #f7c23c;
  color: #000;
}


.about_image{
  position: absolute;
  right: 21;
  right: 21%;
  top: 21%;
}

.about_image a:last-child{
  position: absolute;
  display: block;
  top: 12%;
  right: -66%;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/


/*=================================
  simle section styling starts here
=================================*/
.simple{
  position: relative;
  overflow-y: hidden;
}

.simple .wrapper{
  display: flex;
}
.simple_image{
  position: absolute;
  top: 34.5%
}
.content{
  margin: 497px 0px 172px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}





/*=================================
  simle section styling ends here
=================================*/

/*=================================
  perfect section styling starts here
=================================*/








/*=================================
  perfect section styling ends here
=================================*/

/*=================================
  design section styling starts here
=================================*/
.design_image img{ position: relative;}

.design{ 
  text-align: center;
  position: relative; 
  margin-bottom: 119px;
  background-color: #55dffe;
}


.design h2{
  margin-bottom: 0;
  padding: 5px;
}

.design .design_image{
  width: 40%;
  left: 0;
  position: absolute;
  display: inline-block;
  top: 24.5%;
}
.design .content{
  position: absolute;
  right: 0;
  text-align: left;
  padding-top: 50px;
  width: 49%;  
}

.content p{ 
  width: 85%;
  line-height: 150%;
  color: #7b7b7b;
}



/*=================================
  design section styling ends here
=================================*/

/*=================================
  review section styling starts here
=================================*/
.review a:not(:last-child){ color: #f7c23c; }
.review a:last-child{ color: #d8d8d8; }


.review{
  text-align: center;
  padding-top: 119px;
  padding-bottom: 110px;
  background-color: #f2f2f2;
}

h2{
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 80px;
}

.review img{ 
  width: 100%;
  border-radius: 100%;
  margin-bottom: 15px;
 }

.review span{
  display: block;
  color: #7b7b7b;
  text-transform: uppercase;
  font-size: small;
}

.star{
  text-indent: -9999px;
  display: inline-block;
}

.star::before{
  padding: 10px 0px;
  content: '\f005';
  font-family: FontAwesome;
  font-size: small;
  text-indent: 0;
  float: right;
}

.review p{
  margin: 31px 0px 50px;
  padding: 0 15%;
  color: #7b7b7b;
  line-height: 200%;
  font-size: medium;  
}

.review_one,.review_two{ display: none; }

.slides a{
  text-indent: -9999px;
  display: inline-block;  
}

.slides a::before{
  padding: 10px 0px;
  content: '\f111';  
  color: #d8d8d8;
  font-family: FontAwesome;
  font-size: small;
  text-indent: 0;
  float: right;  
}

.slides .active_slide{ color: black; }
/*=================================
  review section styling ends here
=================================*/

/*=================================
  features section styling starts here
=================================*/
.features,.subscribe,footer,.design{
  padding-top: 112px;
  text-align: center;
  padding-bottom: 120px;
}

.feature_blocks{
  display: flex;
  justify-content: space-between;
 
}
.features h2,.subscribe h2{  margin-bottom: 33px; }

.features p,.subscribe p{
  padding: 0 15% 80px;
  color: #7b7b7b;
  line-height: 200%;
  font-size: medium;
 }
.feature_blocks h3{
  text-transform: uppercase;
  padding: 20px;
}
.feature_blocks ul img{ margin-bottom: 20px;}

.features span{ 
  color: #b9b9b9;
  line-height: 150%;
}

.feature_blocks ul{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.feature_blocks ul:hover{ background-color: #f7c23c; }


/*=================================
  features section styling ends here
=================================*/

/*=================================
  subscribe section styling starts here
=================================*/
.subscribe{ background-color: #55dffe; }

.subscribe input{
  width: 31%;
  height: 50px;
  background-color: #88ecff;
  color: #000;
  font-size: medium;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

.subscribe .button{
  width: 29%;
  height: 23px;
  text-transform: uppercase;
  font-size: medium;
}
/*=================================
  subscribe section styling ends here
=================================*/


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer p{ color: #7b7b7b; }
footer a:hover{ color: #f7c23c;}

footer{
  font-size: 15px;
  line-height: 200%;
}

footer span{ 
  color: #4187ed;
  display: inline;
}

footer a{
  padding: 20px 20px;
  font-size: 30px;
  color: #4187ed;
}

.facebook{
  text-indent: -9999px;
  display: inline-block;
}

.facebook::before{
  content: "\f09a";
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.twitter{
  text-indent: -9999px;
  display: inline-block;
}

.twitter::before{
  content: "\f099";
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.linkedin{
  text-indent: -9999px;
  display: inline-block;
}

.linkedin::before{
  content: "\f0e1";
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.apple{
  text-indent: -9999px;
  display: inline-block;
}

.apple::before{
  content: "\f179";
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}
 /*=================================
  footer styling ends here
=================================*/ 
